<div id='patientsDiv'>
    <div class="form-row">
        <div class="form-group col-md-3">
            <h2>Pacientes</h2>
        </div>
        <div class="form-group col-md-9">
            <button class="btn btn-outline-primary" (click)="open(content)">Novo Paciente</button>
        </div>
    </div>
    <div id='table'>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Data Nascimento</th>
                    <th>Sexo</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of patients" (click)="goToEditPage(item)">
                    <td>{{item?.name}}</td>
                    <td>{{item?.dateBirth | date: 'dd/MM/yyyy' }}</td>
                    <td>{{item?.gender}}</td>
                    <td>{{item?.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Novo Paciente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label class="control-label">Nome</label>
                    <div class="">
                        <input placeholder="" class="form-control input-md" required="" type="text"
                            [(ngModel)]="patient.name" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class=" control-label">Nascimento</label>
                    <div class="">
                        <input placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text"
                            maxlength="10" [(ngModel)]="patient.dateBirth" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <!-- Text input-->
                <div class="form-group col-md-3">
                    <label class=" control-label">Telefone</label>
                    <div class="">
                        <input placeholder="(xx) xxxx-xxxx" class="form-control input-md" required="" type="text"
                            maxlength="15" [(ngModel)]="patient.phone" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group ">
                    <label class="control-label">Sexo</label>
                    <div class="">
                        <input class="form-control input-md" required="" type="text" maxlength="15"
                            [(ngModel)]="patient.gender" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label" for="weight">Peso</label>
                    <div class="">
                        <input id="weight" name="weight" class="form-control input-md" required="" type="number"
                            maxlength="5" [(ngModel)]="patient.weight" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class=" control-label">Altura</label>
                    <div class="">
                        <input class="form-control input-md" required="" type="number" maxlength="5"
                            [(ngModel)]="patient.height" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createPatient()">Save</button>
    </div>
</ng-template>